
/*news**********************************/



.slideNews {
    height: auto;
}

@media screen and (min-width:991px){
    .slideNews .title h1{
        margin-top:7rem;
    }
}


.slideNews {
    /* height: calc(100vh + 20px); */
    max-height: 800px;
    background-position: center center;
    background-size: cover;
    /*margin-top: -60px;*/
    padding-top: 130px;
    position: relative;
    z-index: 0;
    border-radius: 0 0 35px 35px;
}


.slideNews::after {
    height: 70%;
    border-radius: 0 0 100px 100px;
    background: url("../img/34.png") no-repeat center center;
    background-color: rgba(3, 90, 166, 0.9);
    background-size: cover;
}
.slideNews::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(3, 90, 166, 0.9);
    pointer-events: none !important;
    z-index: -10;
    border-radius: 0 0 35px 35px;
}

.slideNews .title {
    padding: 25px 0;
    padding-top: 25px;
    line-height: 0.5;
}
[data-aos^="fade"][data-aos^="fade"] {
    opacity: 0;
    transition-property: opacity,transform;
}
[data-aos="fade-right"] {
    transform: translate3d(-100px,0,0);
}
.title h1 {
    font-size: 25pt;
}
.slideNews .title h1 {
    color: #fff;
    font-weight: bold;
    font-size: 22pt;
    text-align: center;
}
.slide .main__swiper {
    width: 100%;
}
.slide .main__swiper {
    width: calc(100% - 12%);
    aspect-ratio: 8/0;
    border-radius: 25px;
    z-index: 1 !important;
    /*box-shadow: 0 35px 30px -30px rgba(0, 0, 0, 0.25);*/
}
.carousel-item.custom {
    margin-right: 7%;
    margin-top: 20px;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: visible;
    /*height: 30%;*/
}
.carousel-item.custom img{
    box-shadow: 0 35px 30px -30px rgba(0, 0, 0, 0.25);
}






/*owl news*/
.owl-carousel.OwlSliderNews .owl-item img {
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 30px;
    max-height: 450px;
    margin-bottom: 10px;
}
.owl-carousel.OwlSliderNews .owl-nav {
    position: absolute;
    top: 30%;
    z-index: 1000;
    width: 100%;
}
.owl-carousel.OwlSliderNews .owl-nav button.owl-next {
    position: absolute;
    left:0;
}

.owl-carousel.OwlSliderNews  .owl-nav button.owl-next,
.owl-carousel.OwlSliderNews .owl-nav button.owl-prev
    /*.owl-carousel.OwlSliderNews  button.owl-dot {*/{
    background: 0 0;
    border: none;
    padding: 0 !important;
    font: inherit;
    color: #4e4c4c;
    font-size: 80px;
    margin: 0 15px;

}
.owl-dots{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.owl-carousel.OwlSliderNews  button.owl-dot {
    width: 9px;
    height: 9px;
    background-color: #ccc;
    border-radius: 5px;
    opacity: 1;
    margin: 0 10px;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.owl-carousel.OwlSliderNews  button.owl-dot.active{
    background-color: rgba(3, 90, 166, 0.9);
    width: 50px;
    height: 10px;
    border-radius:19px;
    margin: 0 10px;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.owl-carousel.OwlSliderNews .owl-nav button.owl-next {
    /*margin-right: 73%;*/
    float: left;
}

.OwlSliderIndex.news button.owl-dot.active{
    background-color: rgba(92 , 91, 91 , 90%);
}

/*.owl-carousel.OwlSliderNews  .owl-nav button.owl-next{*/
/*    margin-right: 765px;*/
/*}*/


/*owl news end*/

/*section 2*/


body.News .news .news__lists {
    padding-top: 50px;
}




.News .news .news__lists {
    padding: 28px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-bottom: 100px;
    padding-top: 280px;
}
.News .news .news-list {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 25px;
    position: relative;
    box-shadow: 0 0 15px #aaa;
    transition: all .3s ease-in-out;
    padding: 0;
    margin: 0;
    margin-bottom: 0px;
    margin-bottom: 60px;
}

.News .news .news-list::before {
    content: "";
    position: absolute;
    top: calc(100% - 22px);
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/arrow_down.webp");
    background-size: 250px;
    background-position: center center;
    height: 70px;
    width: 100%;
    background-repeat: no-repeat;
    filter: drop-shadow(0 5px 10px #ccc);
    transition: all 0.3s ease-in-out;

}

.News .news .news-list {
    text-align: center;
    font-size: 18px;
}
.News .news .news-list .items .item-text {
    direction: rtl !important;
    position: absolute;
    z-index: 11;
    right: 5px;
    left: 5px;
    top: 65%;
    transform: translateY(-50%);
}
.News .news .news-list .items .footer-text {
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 0;
    z-index: 11;
    justify-content: space-around;
    flex-direction: row-reverse;
    text-align: center;
}
.News .news .news-list img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: grayscale(1);
}
.News .news .news-list svg {
    position: absolute;
    color: #035aa6;
    left: 50%;
    transform: translateX(-60%);
}
.News .news .news-list svg {
    top: 100%;

}

.News .news .news-list::after {
    content: "";
    background: #dddddd;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(221, 221, 221, 0)), color-stop(24%, rgba(255, 255, 255, 0.5)), color-stop(58%, white));
    background: linear-gradient(180deg, rgba(221, 221, 221, 0) 0%, rgba(255, 255, 255, 0.5) 24%, white 58%);
    position: absolute;
    inset: 0;
    border-radius: 23px;
    transition: all 0.3s ease-in-out;

}
.News .news .news-list:hover::after{
    background: #012f56 !important;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(1, 47, 86)), color-stop(24%, rgb(1, 47, 86)), color-stop(58%, #012f56)) !important;
    background: linear-gradient(180deg, rgba(1, 47, 86, 0.360364) 0%, rgba(1, 47, 86,0.5) 24%, #012f56 58%) !important;
    transition: all 0.3s ease-in-out;
}




.News .news .news-list .items .item-text h5 {
    font-size: 12pt;
    font-weight: bold;
    padding: 0 15px;
    color: #035aa6;
}
.News .news .news-list .items .item-text p {
    font-size: 8pt;
    text-align: justify!important;
    padding: 0 15px;
    color: #aaa!important;
}


.News .news .news-list .items .footer-text {
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 8%;
    z-index: 11;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.News .news .news-list .items .footer-text a {
    color: #035aa6;
    font-size: 8pt;
    position: relative;
    font-weight: 300;
}


.News .news .news-list .items .footer-text a svg {
    position: absolute;
    left: calc(100% + 1px);
    top: 28%;
    transform: translateY(-50%);
    color: #ccc;
}
.News .news .news-list svg {
    position: absolute;
    color: #035aa6;
    left: 50%;
    transform: translateX(-60%);
}
.News .news .news-list svg {
    top: 100%;
}


.News .news .news-list .items .item-text h5 {
    font-size: 9pt!important;
    padding: 0 5px!important;
}
.News .news .news-list .items .item-text hr {
    color: #666!important;
}
.News .news .news-list:not(.nohover):hover .items .item-text hr {
    color: #eee!important;
}
.News .news .news-list:not(.nohover):hover.items .footer-text a svg {
    color: #bbb;
}
.News .news .news-list:not(.nohover):hover .items .footer-text a{
    color: #fff!important;
}
.News .news .news-list:not(.nohover):hover .items .item-text p {
    color: #eee!important;
}
.News .news .news-list:not(.nohover):hover .items .item-text h5{
    color: #fff!important;
}
.News .news .news-list:not(.nohover):hover svg {
    color: #fff !important;
}



.News .news .news-list:not(.nohover):hover::before {
    background-image: url("../img/4.png");
    transition: all 0.3s ease-in-out;
}

.page-item:first-child .page-link {
    border-top-left-radius: var(--bs-pagination-border-radius);
    border-bottom-left-radius: var(--bs-pagination-border-radius);
}
.active > .page-link, .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: var(--bs-pagination-active-bg);
    border-color: var(--bs-pagination-active-border-color);
}
.active > .page-link, .page-link.active {
    background: #035aa6 !important;
    border-color: #035aa6 !important;
}

.page-item:not(:first-child) .page-link {
    margin-left: calc(var(--bs-border-width) * -1);
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}
.page-link:focus {
    z-index: 3;
    color: black;
    background-color: #e9ecef;
    outline: 0;
    box-shadow: none;
}

/*section 2 end*/

/*news end**********************************/



/*news single*/


.slideNews1 {

    background-position: center center;
    background-size: cover;
    /*margin-top: -60px;*/
    padding-top: 130px;
    position: relative;
    z-index: 0;
    border-radius: 0 0 35px 35px;
}


.slideNews1::after {
    /*height: 100%;*/
    border-radius: 0 0 100px 100px;
    background: url("../img/34.png") no-repeat center center;
    background-color: rgba(3, 90, 166, 0.9);
    background-size: cover;
    height: calc(100vh + 20px);
    max-height: 400px;
}
.slideNews1::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(3, 90, 166, 0.9);
    pointer-events: none !important;
    z-index: -10;
    border-radius: 0 0 35px 35px;
}



.NewsSingle .slideNews1 .news__lists {
    padding-top: 380px;
}
.NewsSingle .slideNews1 .news__lists {
    padding: 25px;
}

.NewsSingle .slideNews1 .news-list {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    border-radius: 25px;
    position: relative;
    box-shadow: 0 0 15px #aaa;
    transition: all .3s ease-in-out;
    padding: 0;
    margin-bottom: 60px;
}
.NewsSingle .slideNews1 .news-list::before{
    content: "";
    position: absolute;
    top: calc(100% - 22px);
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/arrow_down.webp");
    background-size: 250px;
    background-position: center center;
    height: 70px;
    width: 100%;
    background-repeat: no-repeat;
    filter: drop-shadow(0 20px 10px #ccc);
    transition: all 0.3s ease-in-out;
}
.NewsSingle .slideNews1 .news-list {
    text-align: center;
    font-size: 18px;
}
.NewsSingle .news-page .news-list .items1 .item-text {
    top: 80% !important;
}
.NewsSingle .news-page .news-list .items1 .item-text {
    direction: rtl !important;
    position: absolute;
    z-index: 11;
    right: 5px;
    left: 5px;
    top: 80%;
    transform: translateY(-50%);
}
.NewsSingle .slideNews1 .news-list .items1 .item-text {
    direction: rtl !important;
    position: absolute;
    z-index: 11;
    right: 5px;
    left: 5px;
    top: 65%;
    transform: translateY(-50%);
}
.NewsSingle .news-page .news-list .items1 .item-text h5 {
    font-size: 18pt;
    font-weight: bold;
    padding: 0 15px;
    color: #035aa6;
}
.NewsSingle .news-page .news-list .items1 .item-text hr {
    color: #666;
}
.NewsSingle .news-page .news-list .items1 .item-text p {
    font-size: 12pt;
    text-align: justify;
    padding: 0 15px;
    color: #aaa;
}

 .news-slider .news-page .news-list .items1 .footer-text {
    display: flex;
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 11;
    width: 100%;
    justify-content: space-around;
}
.NewsSingle .slideNews1 .news-list .items1 .footer-text {
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 0;
    z-index: 11;
    justify-content: space-around;
    flex-direction: row-reverse;

}
.NewsSingle .slideNews1 .news-page .news-list .items1 .item-text p {
    font-size: 12pt;
    text-align: justify;
    padding: 0 15px;
    color: #aaa!important;
}
.NewsSingle .slideNews1 .news-page .news-list .items1 .footer-text {
    display: flex;
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 11;
    width: 100%;
    justify-content: space-around;
}
.NewsSingle .slideNews1 .news-page .news-list .items1 .footer-text a {
    color: #035aa6!important;
    font-size: 12pt;
    position: relative;
    font-weight: 300;
}
.NewsSingle .slideNews1 .news-list .items1 .footer-text a svg {
    position: absolute;
    left: calc(100% + 7px);
    top: 50%;
    transform: translateY(-50%);
    color: #ccc!important;
}

 .slideNews1  .news-list::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 23px;
    transition: all 0.3s ease-in-out;
}

 .slideNews1 .news-page  .news-list::after {
    background: linear-gradient(180deg, rgba(221, 221, 221, 0) 0%,
    rgba(255, 255, 255, 0.3) 40%, white 65%) !important;
}

.NewsSingle .slideNews1 .news-list svg {
    position: absolute;
    color: #035aa6;
    left: 50%;
    transform: translateX(-60%);
}
.NewsSingle .slideNews1 .news-list svg{
    top: 100%;
}
.NewsSingle .slideNews1  .news-list img {
    display: block!important;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    border-radius: 25px!important;
    filter: grayscale(1) !important;
}

.NewsSingle .slideNews1  .news-page .news-list img {
    filter: grayscale(0) !important;
}



/*col 2*/
.NewsSingle .news-page .textarea-news {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 15px #998;
    padding: 25px;
    text-align: justify;
}

.NewsSingle  .news-page .textarea-news .tag-and-share {
    border-top: 1px solid #ccc;
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    justify-content: space-between;
    align-items: center;
}

 .news-page .textarea-news .tag-and-share a {
    display: inline-block;
    background-color: #035aa6;
    padding: 5px 15px;
    border-radius: 100px;
    margin-bottom: 5px;
    margin-right: 5px;
}

/*col 2 end */

/*col 3*/

.rashinform-control {
    font-family: yekan;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.rcommentsmarginbottom {
    margin-bottom: 8px;
}
.rcommentstbxmsg {
    height: 170px !important;
}
.usercomments_90518_button {
    font-style: normal;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    width: 90px;
    height: 30px;
    color: #FCFCFC;
    background-color: #0997EF;
    cursor: pointer;
}
.usercomments_90518_button {
    background: #035aa6 !important;
}
.rcommentspullleft {
    float: left;
}


/*col 3 end*/

/*news single end*/
