

.intro1{
    position:fixed;
    width: 50%;
    transition: 9s;
    top: 0;
    right: 0;
    transition-delay: .6s;
    z-index:1000!important;


}
.intro1 img{
    object-fit: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}
.intro2 img{
    object-fit: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}
.intro2{
    position:fixed;
    width: 50%;
    top: 0;
    left:0;
    transition: 9s;
    transition-delay: .6s;
    z-index:1000!important;

}
.open-intro{
    transition: .6s;
}
.open-intro img{
    position: absolute;
    top: -8px;
    right: 40%;
    width: 150px;
    height: 150px;
    transition: .6s;
    transition-delay: .6s;
    cursor: pointer;
}
.intro1.check{
    width: 0;
}
.intro2.check2{
    width: 0;
}
.text-intro{
    position: fixed;
    background-color: rgba(6,6,6,.5);
    top: 50%;
    right: 50%;
    font-size: 30px;
    color: #f8dede;
    transition: 3s;
    transition-delay: .6s;
    padding: 20px 65px;
    text-align: center;
    z-index: 9999;
    transform: translateX(50%);
}
.p-intro{
    text-align: center;
    color: #fff;
    font-size: .90rem;
    line-height:4;
}


