@media screen and (max-width: 1200px) {
        .control-items div a span {
        font-size: 15pt !important;
    }

    .logo-banner {
        height: 500px !important;
    }

    .News .news .news__lists {
        padding-top: 58px !important;
    }

    .aboutus-section .title span::after {
        left: 19%;
    }
    .aboutus-section .title span{
        padding: 5px 10px;
        margin: 10px 28px;
    }
    .News .news .news-list .items .item-text h5 {
        font-size: 12pt!important;
        padding: 0 5px!important;
    }
    .News .news .news-list .items .item-text p{
        font-size: 9pt!important;
        padding: 0 5px!important;
    }
    .News .news .news-list .items .footer-text a {

        font-size: 10pt!important;
    }
}




@media screen and (max-width: 991px) {
    .exhibition-list h1{
        font-size: 25pt!important;
    }
    .aboutus-section .title span {
        margin: 10px 9px!important;
    }
    .col-6.mobile-info{
        text-align: center;
    }
    header .header-container .infocall {
        margin-top: -34px!important;
    }
    header{
        top:0!important;
    }

    .stickyHeaderFixed {
        position: fixed!important;
        top: 0;
        left: 0;
    }
    .sticky-header {
        border-radius: 0 !important;
        padding: 15px 0 !important;
    }


    .exhibition-list .exhibition-information .inf-list {
        flex: 1 0 100% !important;
        width: 100% !important;
    }
    .control-items div a span {
        font-size: 11pt !important;
    }
    .module-section .card .module-slider .swiper-slide .item-text {
        position: absolute;
        left: 0!important;
    }
    /*.module-section .card .module-slider {*/
    /*    height: 100% !important;*/
    /*}*/

    .module-section .card .module-slider .swiper-slide .item-text h1 {
        font-size: 10pt !important;
        text-align: center !important;
    }
    .module-section .card .module-slider .swiper-slide .item-text p {
        font-size: 8pt !important;
        text-align: center !important;
    }
    .module-section .card .module-slider .swiper-slide .item-text .item-options {
        gap: 5px !important;
        justify-content: center !important;
    }

    .NewsSingle .slideNews1 .news-page .news-list .items1 .item-text p {
        font-size: 10pt!important;
        margin-bottom: 17px!important;
    }
    .NewsSingle .news-page .news-list .items1 .item-text h5 {
        font-size: 12pt!important;
        margin-top: 2px!important;
    }
    .NewsSingle .slideNews1 .news-page .news-list .items1 .footer-text {
        bottom: 1% !important;
    }

    .owl-carousel.OwlSlider1 .owl-item {
        transform: scale(0.7) !important;
    }
    .owl-carousel.OwlSlider1  .owl-item.center{
        transform: scale(1) !important;
    }
    .owl-carousel.OwlSlider2 .owl-item {
        transform: scale(0.7) !important;
    }
    .owl-carousel.OwlSlider2  .owl-item.center{
        transform: scale(1) !important;
    }


    header .mobile-top-header .info-lang .infocall {
        flex: 0 0 36% !important;
    }

    header .header-container {
        border-radius: 0 !important;
        /*padding: 13px 5px!important;*/
    }

    header .header-container .parent-nav-responsive {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        left: 0;
        top: 100%;
        background-color: #035aa6;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        margin: 0;
        padding: 0;

    }

    header .header-container .parent-nav-responsive li .child-nav1 {
        position: static !important;
        border: none !important;
        width: 100% !important;
        inset: 0 !important;
        flex-wrap: nowrap !important;
        flex-direction: column !important;
        transform: translateY(15px) !important;
        background-color: rgba(255, 255, 255, 0.3) !important;
        visibility: visible !important;
        display: none;
        margin: 0;
        padding: 0;
    }

    header .header-container .parent-nav-responsive.activeResponsive {
        max-height: 500vh !important;
        overflow: auto !important;
    }

    header .header-container .parent-nav-responsive.activeResponsive {
        display: flex;
    }

    header .header-container .parent-nav-responsive li {
        border-top: 1px solid #f3f2f2 !important;
    }

    header .header-container .parent-nav-responsive li {
        border-bottom: transparent !important;
    }

    header .header-container {
        border-radius: 0;
        padding: 9px 5px !important;
    }

    header .header-container .parent-nav-responsive li {
        border-left: none;
        border-bottom: 1px solid #f3f2f2;
        width: 100%;
        text-align: center;
        padding: 10px 0 !important;
        font-size: 14px !important;
    }

    header .header-container .parent-nav-responsive li .child-nav1::after {
        border: none !important;
    }

    header .header-container .parent-nav-responsive li .child-nav1::before {
        border: none !important;
    }

    header .header-container .parent-nav-responsive svg {
        cursor: pointer;
    }

    header .child-nav, header .header-container .parent-nav-responsive li .child-nav1 .have-child1 ul {
        border-radius: 10px !important;
        border-bottom: 2px solid #035aa6 !important;
        border-top: #fff;
    }

    header .header-container .parent-nav-responsive li {
        border-left: none;
        border-bottom: 1px solid #f3f2f2;
        width: 100%;
        text-align: center;
        padding: 10px 0 !important;
        font-size: 14px !important;
    }

    header .header-container .parent-nav-responsive li .child-nav1 li a {
        color: #f3f2f2 !important;
    }

    header .header-container .parent-nav-responsive li .child-nav1 li {
        flex: 0 0 100%;
    }

    header .header-container .parent-nav-responsive li .child-nav1 li a {
        color: #f3f2f2 !important;
    }

    header .header-container .parent-nav-responsive li .child-nav1 li {
        flex: 0 0 100%;
    }

    header .header-container .parent-nav-responsive li .child-nav1 li {
        -webkit-box-flex: 0;
        flex: 0 0 100%;
    }

}


@media screen and (max-width: 768px) {
    .counter-box p {
        font-size: 16px!important;
    }
    .exhibition-list {
        padding-bottom: 103px!important;
    }
    .exhibition-list h1 {
        font-size: 18pt!important;
    }
    .news-list.nohover {
        aspect-ratio: 10/10 !important;
    }
    .module-section .card .module-controls a, .news-list .items1 .footer-text a {
        font-size: 10pt!important;
    }

    .NewsSingle .slideNews1 .news-page .news-list .items1 .item-text p {
        font-size: 8pt !important;
    }

    .News .news .news-list .items .item-text {
        top: 74% !important;
    }

    .col-6.mobile-info{
        text-align: center;
    }
    header .header-container .infocall {
        margin-top: -34px!important;
    }
    header{
        top:0!important;
    }

    .stickyHeaderFixed {
        position: fixed!important;
        top: 0;
        left: 0;
    }
    .sticky-header {
        border-radius: 0 !important;
        padding: 15px 0 !important;
    }



    header .mobile-top-header .info-lang .infocall {
        flex: 0 0 48% !important;
    }

    .news-slider {
        margin-top: -102px !important;
    }


    .owl-carousel.OwlSlider1 .owl-nav {
        top: -108px !important;
    }

    .owl-carousel.OwlSlider2 .owl-nav {
        width: 83% !important;
        right: 1% !important;
    }

    /*.owl-carousel.OwlSliderIndex .owl-nav button.owl-next,*/
    /*.owl-carousel.OwlSliderNews .owl-nav button.owl-next {*/
    /*    margin-right: 486px;*/
    /*}*/

    .logo-banner {
        height: 450px !important;
        background-position: -7px 17% !important;
    }

    .owl-carousel.OwlSlider2 .owl-nav {
        width: 85% !important;
        right: 0% !important;
    }

    /*    .owl-carousel.OwlSliderIndex .owl-item img,
        .owl-carousel.OwlSliderNews .owl-item img {
            height: 294px !important;
        }*/

    header .header-container {
        border-radius: 0 !important;
        /*padding: 13px 5px!important;*/
    }

    header .header-container .parent-nav-responsive {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        left: 0;
        top: 100%;
        background-color: #00a295;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        margin: 0;
        padding: 0;

    }

    header .header-container .parent-nav-responsive li .child-nav1 {
        position: static !important;
        border: none !important;
        width: 100% !important;
        inset: 0 !important;
        flex-wrap: nowrap !important;
        flex-direction: column !important;
        transform: translateY(15px) !important;
        background-color: rgba(255, 255, 255, 0.3) !important;
        visibility: visible !important;
        display: none;
        margin: 0;
        padding: 0;
    }

    header .header-container .parent-nav-responsive.activeResponsive {
        max-height: 500vh !important;
        overflow: auto !important;
    }

    header .header-container .parent-nav-responsive.activeResponsive {
        display: flex;
    }

    header .header-container .parent-nav-responsive li {
        border-top: 1px solid #f3f2f2 !important;
    }

    header .header-container .parent-nav-responsive li {
        border-bottom: transparent !important;
    }

    header .header-container {
        border-radius: 0;
        padding: 9px 5px !important;
    }

    header .header-container .parent-nav-responsive li {
        border-left: none;
        border-bottom: 1px solid #f3f2f2;
        width: 100%;
        text-align: center;
        padding: 10px 0 !important;
        font-size: 14px !important;
    }

    header .header-container .parent-nav-responsive li .child-nav1::after {
        border: none !important;
    }

    header .header-container .parent-nav-responsive li .child-nav1::before {
        border: none !important;
    }

    header .header-container .parent-nav-responsive svg {
        cursor: pointer;
    }

    header .child-nav, header .header-container .parent-nav-responsive li .child-nav1 .have-child1 ul {
        border-radius: 10px !important;
        border-bottom: 2px solid #035aa6 !important;
        border-top: #fff;
    }

    header .header-container .parent-nav-responsive li {
        border-left: none;
        border-bottom: 1px solid #f3f2f2;
        width: 100%;
        text-align: center;
        padding: 10px 0 !important;
        font-size: 14px !important;
    }

    header .header-container .parent-nav-responsive li .child-nav1 li a {
        color: #f3f2f2 !important;
    }

    header .header-container .parent-nav-responsive li .child-nav1 li {
        flex: 0 0 100%;
    }

    header .header-container .parent-nav-responsive li .child-nav1 li a {
        color: #f3f2f2 !important;
    }

    header .header-container .parent-nav-responsive li .child-nav1 li {
        flex: 0 0 100%;
    }

    header .header-container .parent-nav-responsive li .child-nav1 li {
        -webkit-box-flex: 0;
        flex: 0 0 100%;
    }

    .carousel-control-next.custom, .carousel-control-prev.custom {
        margin: 0 120px !important;
    }

    .aboutus-section .title span {
        /*padding: 5px 8px !important;*/
        /*margin: 10px 12px !important;*/
    }

    .owl-carousel.OwlSlider2 .owl-nav button.owl-prev {
        margin-right: 122px !important;
    }

    .swiper-slide.slider-tak {
        width: 696px !important;
    }

    .virtual-tour-Exhibitions .swiper-slide .body-text h1 {
        font-size: 21px !important;
    }

    .banner-section .banner-slides .title h1 {
        font-size: 25px !important;
    }

    .banner-section .banner-slides .title .rounded-pill {
        font-size: 14px !important;
    }

    .email-tel {
        padding-bottom: 100px !important;
    }

    .banner-section {
        padding-bottom: 100px !important;
    }
}



@media screen and (max-width: 576px) {

    .counter-box {
        text-align: center;
        color: var(--color_fff);
        margin: 10px 0!important;
    }
    .counter-box .counter {
        font-size: 19px!important;
    }

    .exhibition-list .exhibition-information .inf-list {
        flex: 0 0 90% !important;
        width: 90% !important;
    }

    .exhibition-information span strong{
        font-size: 12pt!important;
    }

    .newsimportant{
        margin-top: 0!important;
    }
    .owl-carousel.OwlSliderNews .owl-nav {
        display: none!important;
    }
    .pagination a {
        padding: 5px 11px!important;
    }

    .news-slider .swiper-slide, .gallery-section .swiper-slide{
        display: block!important;
    }
    .owl-carousel.OwlSlider1 .owl-item,
    .owl-carousel.OwlSlider2 .owl-item{
        transform: scale(.8) !important;
        transition: all 0.3s ease-in;
    }


    .owl-carousel.OwlSlider1  .owl-item.center,
    .owl-carousel.OwlSlider2  .owl-item.center{
        transform: scale(0.80) !important;
        transition: all 0.3s ease-in-out;
        z-index: 10;
        border-radius: 30px;
    }

    .owl-carousel.OwlSlider1 .owl-nav{
        display: none;
    }

    .Exhibitions-conferences .banner {
        transform: scale(0.9) translateX(0px);
    }
    .Exhibitions-conferences .banner .description .body-text {
        padding-left: 0!important;
    }
    .Exhibitions-conferences .banner .description .body-text h1 {
        font-size: 14pt!important;
        width: 200px!important;
    }
    .Exhibitions-conferences .banner .description .body-text p {
        font-size: 12pt!important;
    }
    .Exhibitions-conferences .banner .description .body-text {
        padding: 25px 6px!important;
    }
    .Exhibitions-conferences .banner .description .date {
        left: -37px!important;
        top: 0!important;
        transform: scale(0.8) rotate(-45deg) !important;
    }
    .Exhibitions-conferences .banner .description .date {
        gap: 15px!important;
    }

    .Exhibitions-conferences .banner .description .date span {
        font-size: 12pt !important;
    }

    .col-6.mobile-info{
        text-align: center;
    }
    header .header-container .infocall {
        margin-top: -34px!important;
    }
    header{
        top:0!important;
    }

    .stickyHeaderFixed {
        position: fixed!important;
        top: 0;
        left: 0;
    }
    .sticky-header {
        border-radius: 0 !important;
        padding: 15px 0 !important;
    }
    .aboutus-section .title span {
        margin: 10px 40%!important;
    }

    .owl-carousel.OwlSlider1 .owl-item,
    .owl-carousel.OwlSlider2 .owl-item{
        /*box-shadow: 0px 9px 32px 0px rgba(0,0,0,0.07);*/
        transform: scale(.8) !important;
        transition: all 0.3s ease-in;
    }

    .owl-carousel.OwlSlider1 .owl-nav{
        display: none!important;
    }
    /*.owl-carousel.OwlSliderIndex .owl-item {*/
    /*    width: 576px !important;*/
    /*}*/
    .owl-carousel.OwlSliderIndex .owl-nav{
        display: none!important;
    }
    header .mobile-top-header .info-lang .infocall {
        flex: 0 0 62% !important;
    }
    .slider {
        height: auto !important;
        padding-bottom: 117px;
    }

    .logo-banner {
        height: 420px !important;
    }

    .logo-logo-banner {
        margin-top: 130px !important;
    }

    /*.owl-carousel.OwlSliderIndex .owl-item img {*/
    /*    height: 200px !important;*/
    /*}*/

    .owl-carousel.OwlSliderIndex .owl-nav {
        top: 50px !important;
    }

    .owl-carousel.OwlSlider2 .owl-nav {
        width: 78% !important;
        right: 11% !important;
    }

    .owl-carousel.OwlSliderIndex .owl-nav button.owl-next,
    .owl-carousel.OwlSliderNews .owl-nav button.owl-next {
        margin-right: 344px;
    }

    .Exhibitions-conferences {
        margin-top: 0 !important;
    }

    header .header-container .parent-nav-responsive {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        left: 0;
        top: 100%;
        background-color: #012f56;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        margin: 0;
        padding: 0;

    }

    header .header-container .parent-nav-responsive li .child-nav1 {
        position: static !important;
        border: none !important;
        width: 100% !important;
        inset: 0 !important;
        flex-wrap: nowrap !important;
        flex-direction: column !important;
        transform: translateY(15px) !important;
        background-color: rgba(255, 255, 255, 0.3) !important;
        visibility: visible !important;
        display: none;
        margin: 0;
        padding: 0;
    }

    header .header-container .parent-nav-responsive.activeResponsive {
        max-height: 500vh !important;
        overflow: auto !important;
    }

    header .header-container .parent-nav-responsive.activeResponsive {
        display: flex;
    }

    header .header-container .parent-nav-responsive li {
        border-top: 1px solid #f3f2f2 !important;
    }

    header .header-container .parent-nav-responsive li {
        border-bottom: transparent !important;
    }

    header .header-container {
        border-radius: 0;
        padding: 9px 5px !important;
    }

    header .header-container .parent-nav-responsive li {
        border-left: none;
        border-bottom: 1px solid #f3f2f2;
        width: 100%;
        text-align: center;
        padding: 10px 0 !important;
        font-size: 14px !important;
    }

    /*.float-lg-start {*/
    /*    float: right !important;*/
    /*}*/
    header .header-container .parent-nav-responsive li .child-nav1::after {
        border: none !important;
    }

    header .header-container .parent-nav-responsive li .child-nav1::before {
        border: none !important;
    }

    header .header-container .parent-nav-responsive svg {
        cursor: pointer;
    }

    header .child-nav, header .header-container .parent-nav-responsive li .child-nav1 .have-child1 ul {
        border-radius: 10px !important;
        border-bottom: 2px solid #035aa6 !important;
        border-top: #fff;
    }

    header .header-container .parent-nav-responsive li {
        border-left: none;
        border-bottom: 1px solid #f3f2f2;
        width: 100%;
        text-align: center;
        padding: 10px 0 !important;
        font-size: 14px !important;
    }

    header .header-container .parent-nav-responsive li .child-nav1 li a {
        color: #f3f2f2 !important;
    }

    header .header-container .parent-nav-responsive li .child-nav1 li {
        flex: 0 0 100%;
    }

    header .header-container .parent-nav-responsive li .child-nav1 li a {
        color: #f3f2f2 !important;
    }

    header .header-container .parent-nav-responsive li .child-nav1 li {
        flex: 0 0 100%;
    }

    header .header-container .parent-nav-responsive li .child-nav1 li {
        -webkit-box-flex: 0;
        flex: 0 0 100%;
    }

    header .header-container {
        border-radius: 0 !important;
        /*padding: 13px 5px!important;*/
    }

    .carousel-control-next.custom, .carousel-control-prev.custom {
        margin: 0 87px !important;
    }

    .aboutus-section .title span {
        /*padding: 5px 8px !important;*/
        /*margin: 10px 236px !important;*/
    }

    .owl-carousel.OwlSlider2 .owl-nav button.owl-prev {
        margin-right: 18px !important;
    }

    .swiper-slide.slider-tak {
        width: 503px !important;
    }

    .virtual-tour-Exhibitions .swiper-slide .body-text h1 {
        font-size: 15px !important;
    }

    .banner-section .banner-slides .title h1 {
        font-size: 25px !important;
    }

    .banner-section .banner-slides .title .rounded-pill {
        font-size: 14px !important;
    }

    .email-tel {
        padding-bottom: 100px !important;
    }


    .aboutus-section .section-right {
        text-align: center !important;
    }
    .text-title {
        margin-top: 133px !important;
    }

    .virtual-tour-Exhibitions .swiper-slide .body-text h3 {
        font-size: 14px !important;
    }

    .virtual-tour-Exhibitions .swiper-slide .body-text a {
        font-size: 6pt!important;
    }

    .virtual-tour-Exhibitions .swiper-slide .body-text {
        top: 37% !important;
    }

    .virtual-tour-Exhibitions .swiper-slide .body-text h3 {
        margin-bottom: 4px!important;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link.nav-custom {
        font-size: 14px!important;
    }

    .carousel-item.custom {
        margin-right: 7% !important;
    }

    .carousel-item.custom {
        width: 85% !important;
    }



}

@media screen and (max-width: 420px) {
    .owl-carousel.OwlSliderIndex .owl-nav {
        display: none!important;
    }
    .counter-box svg {
        font-size: 50px!important;
        color: var(--color_fcbf1e);
    }

    .exhibition-information span{
        font-size: 9pt!important;
    }
    .exhibition-information span strong {
        font-size: 9pt!important;
    }
    .exhibition-list h1 {
        font-size: 14pt!important;
    }
    .NewsSingle .slideNews1 .news-page .news-list .items1 .footer-text a {
        font-size: 7pt !important;
    }
    .NewsSingle .slideNews1 .news-page .news-list .items1 .item-text p {
        font-size: 6pt !important;
        margin-bottom: 30px !important;
    }
    .NewsSingle .news-page .news-list .items1 .item-text h5 {
        font-size: 10pt !important;
        margin-top: 32px !important;
    }
    .News .news .news-list .items .item-text {
        top: 63% !important;
    }
    .pagination a {
        padding: 5px 11px!important;
    }
    .logo-banner {
        height: 262px !important;
    }
    .aboutus-section .title span {
        margin: 10px 33%!important;
    }
    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link.nav-custom {
        font-size: 10pt!important;
    }
    .nav-pills .nav-link{
        font-size: 8pt!important;
    }

    .Exhibitions-conferences .banner {
        transform: scale(0.7) translateX(41px) !important;
    }
    .Exhibitions-conferences .banner .description .date {
        left: -27px!important;
        top: 0;
        transform: scale(0.7) rotate(-45deg);
    }
    .Exhibitions-conferences .banner .description .date {
        gap: 3px!important;
    }
    .Exhibitions-conferences .banner .description .body-text {
        padding: 6px 6px!important;
    }
}


