.h-600 {
    height: 600px !important
}
.h-200 {
    height: 200px !important
}
.rounded-2rem {
    border-radius: 2rem;
}
.bg-gray{
    background: rgb(27,106,174);
    background: radial-gradient(circle, rgba(27,106,174,1) 12%, rgba(1,47,86,1) 87%); 
    
}

.img-soldier {
    position: relative;
}

.section-title-incentive {
    margin-bottom: 20px;
}

.section-title h2 {
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
}

.section-title .bar {
    height: 5px;
    width: 90px;
    background: #bfdeef;
    margin: 12px 0;
    position: relative;
    border-radius: 30px;
}

.area-txt-incentive p {
    text-align: justify;
    font-size: 16px;
}

.area-txt-incentive h4 {
    font-size: 18px;
}

p {
    color: #222222;
    line-height: 1.9;
}

.text-personology h3 {
	font-size: 20px;
	margin-bottom: 30px;
}

.img-soldier img {
    width: 100%;
    border-radius: 15px;
  }
img {
    max-width: 100%;
}

.img-soldier::after {
    content: '';
    background-image: linear-gradient(4deg, #000000b3, #004975c4);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 15px;
  }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #1d1d1d;
    font-weight: 500;
}

.h_iframe-aparat_embed_frame {
    position:relative;
    border-radius: 15px;
    overflow: hidden;
}
.h_iframe-aparat_embed_frame .ratio {
    display:block;
    width:100%;
    height:auto;
}
.h_iframe-aparat_embed_frame iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.mb-10 {
    margin-bottom: 6rem;
}