
.singlePost {
    /*height: 100px;*/
    /*height: calc(100vh + 20px);*/
    /*max-height: 200px;*/
    background-position: center center;
    background-size: cover;
    /*margin-top: -60px;*/
    padding-top: 130px;
    position: relative;
    z-index: 0;
    border-radius: 0 0 35px 35px;
}


.singlePost::after {
    /*height: 100%;*/
    border-radius: 0 0 100px 100px;
    background: url("../img/34.png") no-repeat center center;
    background-color: rgba(3, 90, 166, 0.9);
    background-size: cover;
    height: calc(100vh + 20px);
    max-height: 400px;
}
.singlePost::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(3, 90, 166, 0.9);
    pointer-events: none !important;
    z-index: -10;
    border-radius: 0 0 35px 35px;
}
/*.header-container img{*/
/*    width: 99px!important;*/
/*    height: auto;*/
/*    border-radius: 0;*/
/*    top: 88% !important;*/
/*    transform: translateY(0px);*/
/*    padding: 0px;*/
/*    background: transparent;*/
/*}*/
.slider-single-post{
    margin-top: 100px;
}

 .exhibition-list {
    margin-top: 50px;
    padding-bottom: 200px;
    border-radius: 0 0 50px 50px;
    position: relative;
    background-color: #fff;
}
[data-aos^="fade"][data-aos^="fade"] {
    opacity: 0;
    transition-property: opacity,transform;
}
[data-aos="fade-right"] {
    transform: translate3d(-100px,0,0);
}
.exhibition-list .title h1 {
    font-size: 25pt;
}

.exhibition-list .exhibition-information {
    gap: 25px;
}
.exhibition-list .exhibition-information .inf-list {
    flex: 1 0 45%;
    width: 45%;
}
.exhibition-list .exhibition-information .inf-list {
    border: 1px solid #035aa6;
    padding: 35px;
    border-radius: 25px;
    /*width: 90%;*/
    position: relative;
}
.exhibition-list .exhibition-information .inf-list::before {
    position: absolute;
    content: "";
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 200px;
    background-color: #fff;
}
.exhibition-list .exhibition-information .inf-list div {
    display: flex;
    gap: 10px;
    text-align: right;
}
.exhibition-list .exhibition-information .inf-list svg {
    color: #035aa6;
}
.exhibition-list .exhibition-information .inf-list div {
    text-align: right;
}
.exhibition-list .exhibition-information .inf-list::after {
    content: attr(data-title);
    background: url("../img/24.png") no-repeat center center;
    background-size: auto;
    background-size: 100% 100%;
    color: #fff;
    padding: 10px 10px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -17.5px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    vertical-align: bottom;
}
.exhibition-list::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    width: 350px;
    height: 50px;
    background: url("../img/arrow_down.webp") no-repeat center center;
    background-size: auto;
    background-size: 100% 100%;
}
.control-items {
    background-color: #035aa6;
    background-image: url("../img/34.png");
    background-size: cover;
    background-position: center center;
    margin-top: -50px;
    padding-top: 150px;
    padding-bottom: 150px;
}
.control-items div a {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    text-align: center;
}
.control-items div a svg{
    font-size: 50pt;
}
.control-items div a span {
    font-size: 18pt;
    font-weight: bold;
}
.module-section {
    padding: 100px 0;
    border-radius: 50px 50px 0 0;
    margin-top: -50px;
    background-color: #fff;
    position: relative;
}
.module-section::after {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(180deg);
    transform: translateX(-50%) rotate(180deg);
    bottom: 100%;
    width: 350px;
    height: 50px;
    background: url("../img/arrow_down.webp") no-repeat center center;
    background-size: auto;
    background-size: 100% 100%;
}
.module-section {
    padding: 100px 0;
    border-radius: 50px 50px 0 0;
    margin-top: -50px;
    background-color: #fff;
    position: relative;
}
[data-aos^="fade"][data-aos^="fade"] {
    opacity: 0;
    transition-property: opacity,transform;
}
 .title h1 {
    font-size: 25pt;
}
.module-section .card {
    background: #ddd;
    border: 0;
    border-radius: 15px 0 15px 15px;
    padding: 20px;
    /*margin-top: 100px;*/
    position: relative;
}

 .module-section .card::before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 150px;
    height: 50px;
    width: 120px;
    background: url("../img/module_head.webp") no-repeat center center;
    background-size: auto;
    background-size: 100% 100%;

}
.module-section .card .title-button {
    position: absolute;
    bottom: calc(100% - 10px);
    right: 45px;
    z-index: 998;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.module-section .card .title-button span {
    color: #fff;
    background-color: #035aa6;
    padding: 5px 0;
    border-radius: 100px;
    width: 100px;
    text-align: center;
}
.module-section .card .title-button .select-module {
    position: relative;
}
 .module-section .card div {
    margin: 0 !important;
}
.module-section .card .title-button select {
    width: 150px;
    margin-right: -15px;
    background: none;
    border: none;
    appearance: none;
}
.module-section .card .title-button .select-module svg {
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #035aa6;
}
.module-section .card::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 0;
    height: 50px;
    width: 150px;
    background-color: #ddd;
    border-radius: 0 15px 0 0;
}
.module-section .card .module-slider {
    border-radius: 25px;
    z-index: 1 !important;
    box-shadow: 0 35px 30px -30px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    max-height: 100%;
}
.module-section .card .module-slider video {
    height: 100%;
}
.module-section .card .module-slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 100%;
    position: relative;
}
.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    backface-visibility: hidden;
}
.card .module-slider .swiper-slide .fa-play-circle,
.module-section .card .module-slider .swiper-slide .fa-pause-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 998;
    font-size: 45pt;
    color: #035aa6;
    cursor: pointer;
}
 .module-section .card .module-slider .swiper-slide .fa-play-circle,
 .module-section .card .module-slider .swiper-slide .fa-pause-circle {
    font-size: 45pt;
    color: #035aa6;
    cursor: pointer;
}
.module-section .card .title-button select option {
    background: #035aa6;
    color: #fff;
    font-size: 10pt;
}
.module-section .card .title-button .select-module::after {
    content: "\f107";
    font-family: "Font Awesome 5 Pro Regular";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #035aa6;
}
 .module-section .card .module-slider .swiper {
    height: 100%;
}
.owl-carousel.OwlSliderIndex button.owl-dot.active {
    background-color: rgba(181, 175, 175, 0.9);
}
.owl-carousel.OwlSliderIndex img{
    background-size: cover!important;
    background-position: center;
}

/*
 .module-section .card .module-slider.blue-gr .swiper-slide::after {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(3, 90, 166, 0.7)), color-stop(30%, rgba(3, 90, 166, 0.2)), to(rgba(3, 90, 166, 0)));
    background: linear-gradient(0deg, rgba(3, 90, 166, 0.7) 0%, rgba(3, 90,  166 , 0.2) 30%, rgba(3, 90, 166, 0) 100%);
}*/


/*slide video*/

/*
 .news__lists_tab {
    padding-top: 380px;
}
 .news__lists_tab {
    padding: 25px;
}

 .news-list-tab {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    border-radius: 25px;
    position: relative;
    box-shadow: 0 0 15px #aaa;
    transition: all .3s ease-in-out;
    padding: 0;
    margin-bottom: 60px;
}

 .news-list-tab {
    text-align: center;
    font-size: 18px;
}
.news-list-tab .items-tab .item-text {
    top: 87% !important;
}
.news-list-tab .items-tab .item-text {
    direction: rtl !important;
    position: absolute;
    z-index: 11;
    right: 5px;
    left: 5px;
    top: 80%;
    transform: translateY(-50%);
}
 .news-list-tab .items-tab .item-text {
    direction: rtl !important;
    position: absolute;
    z-index: 11;
    right: 5px;
    left: 5px;
    top: 65%;
    transform: translateY(-50%);
}
.news-list-tab .items-tab .item-text h5 {
    font-size: 18pt;
    font-weight: bold;
    padding: 0 15px;
    color: #035aa6;
}
.news-list-tab .items-tab .item-text hr {
    color: #666;
}
.news-list-tab .items-tab .item-text p {
    font-size: 12pt;
    text-align: justify;
    padding: 0 15px;
    color: #aaa;
}

 .news-list-tab .items-tab .footer-text {
    display: flex;
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 11;
    width: 100%;
    justify-content: space-around;
}
 .news-list-tab .items-tab .footer-text {
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 0;
    z-index: 11;
    justify-content: space-around;
    flex-direction: row-reverse;

}
 .items-tab .item-text p {
    font-size: 12pt;
    text-align: justify;
    padding: 0 15px;
    color: #aaa!important;
}
.items-tab .footer-text {
    display: flex;
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 11;
    width: 100%;
    justify-content: space-around;
}
.items-tab .footer-text a {
    color: #035aa6!important;
    font-size: 12pt;
    position: relative;
    font-weight: 300;
}
 .news-list-tab .items-tab .footer-text a svg {
    position: absolute;
    left: calc(100% + 7px);
    top: 50%;
    transform: translateY(-50%);
    color: #ccc!important;
}

.items-tab::after {
    content: "";
    position: absolute;
    inset: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 68, 141, 0.7)), color-stop(30%, rgba(0, 68, 141, 0.2)), to(rgba(221, 221, 221, 0)));
    background: linear-gradient(0deg, rgba(0, 68, 141, 0.7) 0%, rgba(0, 68, 141, 0.2) 30%, rgba(221, 221, 221, 0) 100%);
}

!*.items-tab::after{*!
!*    content: "";*!
!*    background: rgba(3, 90, 166, 0.5);*!
!*    position: absolute;*!
!*    inset: 0;*!
!*    border-radius: 23px;*!
!*}*!

.news-list-tab::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 23px;
    transition: all 0.3s ease-in-out;
}



.news-list-tab::after {
    content: "";
    background: #dddddd;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(221, 221, 221, 0)), color-stop(24%, rgba(255, 255, 255, 0.5)), color-stop(58%, white));
    background: linear-gradient(180deg, rgba(221, 221, 221, 0) 0%, rgba(255, 255, 255, 0.5) 24%, white 58%);
    position: absolute;
    inset: 0;
    border-radius: 23px;
    transition: all 0.3s ease-in-out;
}




.news-list-tab svg {
    position: absolute;
    color: #035aa6;
    left: 50%;
    transform: translateX(-60%);
}
.news-list-tab svg{
    top: 100%;
}
.news-list-tab img {
    display: block!important;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    border-radius: 25px!important;
    filter: grayscale(1) !important;
}

.news-list-tab img {
    filter: grayscale(0) !important;
}*/


.module-section .card .module-slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 100%;
    position: relative;
}
.module-section .card .module-slider .swiper-slide .fa-play-circle,
 .module-section .card .module-slider .swiper-slide .fa-pause-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 998;
    font-size: 45pt;
    color: #00a295;
    cursor: pointer;
}
 .module-section .card .module-slider .swiper-slide .fa-play-circle,
 .module-section .card .module-slider .swiper-slide .fa-pause-circle {
    font-size: 45pt;
    color: #00a295;
    cursor: pointer;
}
 .module-section .card .module-slider .swiper-slide img{
    -webkit-filter: grayscale(0) !important;
    filter: grayscale(0) !important;
}
.module-section .card .module-slider .swiper-slide img,
.module-section .card .module-slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
    filter: grayscale(1);
}
 .module-section .card .module-slider .swiper-slide.swiper-slide-active .item-text {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.module-section .card .module-slider .swiper-slide .item-text {
    direction: rtl !important;
    opacity: 0;
    transform: translateY(25px);
    transition: all 1s ease-in-out .5s;
    position: absolute;
    left: 30%;
    bottom: 25px;
    right: 25px;
    z-index: 998;
}
.module-section .card .module-slider .swiper-slide .item-text h1 {
    font-size: 14pt;
    border-bottom: 1px solid rgba(221, 221, 221, 0.3);
}
 .module-section .card .module-slider .swiper-slide .item-text p {
    font-size: 10pt;
    color: #ccc;
}
 .module-section .card .module-slider .swiper-slide .item-text .item-options {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 25px;
}
 .module-section .card div {
    margin: 0 !important;
}
.module-section .card .module-slider .swiper-slide .item-text span,
.module-section .card .module-slider .swiper-slide .item-text svg {
    font-size: 8pt;
    color: #ccc;

}
.module-section .card .module-slider .swiper-slide::after {
    content: "";
    position: absolute;
    inset: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 68, 141, 0.7)), color-stop(30%, rgba(0, 68, 141, 0.2)), to(rgba(221, 221, 221, 0)));
    background: linear-gradient(0deg, rgba(0, 68, 141, 0.7) 0%, rgba(0, 68, 141, 0.2) 30%, rgba(221, 221, 221, 0) 100%);
}
 .module-section .card .module-slider .swiper-slide .item-text h1,
.module-section .card .module-slider .swiper-slide .item-text p,
 .module-section .card .module-slider .swiper-slide .item-text span,
 .module-section .card .module-slider .swiper-slide .item-text svg {
    color: #fff;
    text-align: right;
}
 .module-section .card .module-slider .swiper-slide .item-text p {
    font-size: 10pt;
    color: #ccc;
}
.module-section .card .module-slider .swiper-slide .item-text .item-options {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 25px;
}
 .module-section .card .module-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
 .module-section .card .module-controls a.active {
    border-bottom: none;
    transform: translateX(25px);
    background: -webkit-gradient(linear, left top, right top, from(#dddddd), color-stop(30%, #035aa6));
    background: linear-gradient(90deg, #dddddd 0%, #035aa6 30%);
    border-radius: 0 100px 100px 0;
    color: #ddd;
}
 .module-section .card .module-controls a {
    padding: 10px;
    padding-right: 10px;
    background: none;
    border-bottom: 2px dotted #bbb;
    padding-right: 25px;
    width: 90%;
    flex: 0 0 100%;
    color: #000;
    cursor: pointer;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    text-align: right;
    width: 100%;
}


.carousel-indicators {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-left: 15%;
    margin-bottom: 1rem;
    margin-right: 15%;
    list-style: none;
}



/*slide video end*/