@font-face {
    font-family: iransans;
    font-style: normal;
    /*font-weight: 500;*/
    src: url('../fonts/sans/IRANSansWeb.eot') format('eot');
    src: url('../fonts/sans/IRANSansWeb.ttf') format('truetype'),
    url('../fonts/sans/IRANSansWeb.woff2') format('woff');
}

@font-face {
    font-family: iransans-bold;
    font-style: normal;
    /*font-weight: 500;*/
    src: url('../fonts/sans/IRANSansWeb_Bold.eot') format('eot');
    src: url('../fonts/sans/IRANSansWeb_Bold.ttf') format('truetype'),
    url('../fonts/sans/IRANSansWeb_Bold.woff2') format('woff');
}

@font-face {
    font-family: 'FontAwesome';
    /*src: url('../fonts/fontawesome/webfonts') format('eot');*/
    src: url('../font/fontawesome/webfonts') format('woff');
    src: url('../font/fontawesome/webfonts') format('ttf');
    /*src: url('../fonts/fontawesome/webfonts') format('svg');*/
    src: url('../font/fontawesome/webfonts') format('woff2');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    outline: none !important;
    list-style: none;
    box-sizing: border-box;
    font-family:iransans !important;
}

a {
    text-decoration: none;
    color:  var(--color_fcbf1e);
}
a:hover{
    color: var(--color_fff);
}
.a {
    fill: none;
    stroke: var(--color_9f9f9f);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.1px;
    fill-rule: evenodd;
}

body{
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/*html{*/
/*    scrollbar-track-color: #6a1a21;*/
/*    scrollbar-face-color: black;*/
/*    scrollbar-highlight-color: #3dd5f3;*/

/*}*/



:root {
    --color_012f56:#012f56;
    --color_01192d:#01192d;
    --color_fcbf1e:#FCBF1E;
    --color_035aa6:#035aa6;
    --color_fff:#fff;
    --color_bbb:#bbb;
    --color_eee:#eee;
    --color_dddddd:#dddddd;
    --color_aaa:#aaa;
    --color_888:#888;
    --color_666:#666;
    --color_9f9f9f:#9f9f9f;
    --color_f3f2f2:#f3f2f2f2;
    --color_f5f8f8:#f5f8f8;
    --color_998:#998;
    --color_333:#333;
    --color_dddddd76:#333;
    --box_shadow: 0 .125rem .25rem rgb(1, 66, 126);
}
.font-all-2{
    font-family: "iransans";
}
.font-all{
    font-family: "Vazir";
}

.h5-about{
    color: #035aa6;
    font-size: 12px;
}

.img-about{
    filter: grayscale(1);
    width: 100%;
}
.p-about{
    white-space: pre-wrap!important;
    line-height: 1.5rem!important;
}
.a-email-tel{
    color: #fff;
    cursor: pointer;
}
.img-logo-banner{
    image-rendering: pixelated;
    filter: contrast(1.6);
    pointer-events: none;
    width: 60%;
}
.swiper-slide-news{
    z-index: 1;
}
.a-news-slider{
    flex : 0 0 25%;
}
.image-news-slider{
    max-height:350px !important;
    min-height:350px !important;
}
.div-chart{
    border-radius: 25px !important
}
.button-event-single{
    background-color: #035aa6
}
.event-single{
    aspect-ratio:4/3;
}
.aspect-ratio-single{
    aspect-ratio: 10/7;
}
.img-position-single{
    position:absolute;
    inset:0;
}
.i-single{
    cursor: pointer;
}
.logo-header-logo-style{
    width: 100px; height: auto;
    border-radius: 0;
    top: 120%;
    transform: translateY(0px);
    padding: 0;
    left:46%;
    background: transparent;
}
.logo-mobile-header-style{
    width: 45px;
    height: 45px;
}

.span-footer{
    font:12px Tahoma;
    color:#989898
}
.a-footer{
    font:12px Tahoma;
    color:#545454
}
.svg-footer{
    width:12px;
    height:12px;
    margin-top: -4px;
}
.public-chart-url{
    background-image: url('../img/Slider1.webp');
}
.svg-abut-us{
    width:15px;
    height:15px;
    margin-top:-6px;
    fill:#bbb;
}
.div-footer-height{
   height: 100px;
}

.icon-header-style{
   width: 14px;
   height: 14px;
}
.icon-countreUp-style{
   width: 70px;
   height: 70px;
}
.icon-footer-style{
   width: 18px;
   height: 18px;
   margin-bottom: 3px;
}
.icon-about-style{
   width:15px;
   height:15px;
   margin-top:-6px;
}
.icon-style-arrow{
    width: 12px;
}
.icon-style-inline-news{
    width: 12px;
}

.icon-footer-arrow-up{
    width: 20px;
}
.icon-style-logo-banner{
    width: 20px;
}
.icon-style-inline-event{
    width: 40px;
}
.icon-style-inline-event-1{
    width: 53px;
}
.icon-style-inline-event-2{
    width: 67px;
}
.button-event-single-style{
    background-color: #313333df;
}
.button-event-style-single{
    background-color: #fc9713;
}


/********************** */


/*header*/

header {
    position: absolute;
    top: 15px;
    right: 0;
    left: 0;
    z-index: 999;
    transition: 0.5s transform ease-in-out, 0.5s -webkit-transform ease-in-out;
}
.stickyHeaderFixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: none;
}
.sticky-header {
    border-radius: 0 !important;
    padding: 15px 0 !important;
}
/*mobile header*/
header .mobile-top-header {
    background-color: var(--color_01192d);
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    width: 100%;
    margin-top: -15px;
}
header .mobile-top-header .info-lang .infocall {
    flex: 0 0 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .mobile-top-header .info-lang .langs {
    flex: 0 0 15%;
    display: flex;
    justify-content: flex-end;
    overflow-x: hidden;
}

header .header-container .hamburger-menu {
    height: 100%;

}
header .header-container .hamburger-menu .visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
header .header-container .hamburger-menu .hamburger {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}
header .header-container .hamburger-menu .checkbox1:checked + label > .hamburger1 > .bar1 {
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 41px;
}
header .header-container .hamburger-menu .hamburger .bar {
    padding: 0;
    width: 35px;
    height: 2px;
    background-color: var(--color_fff);
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}
header .header-container .hamburger-menu .bar1 {
    top: 0;
}
header .header-container .hamburger-menu .checkbox1:checked + label > .hamburger1 > .bar2 {
    transform: translateX(-40px);
    background-color: transparent;
}
header .header-container .hamburger-menu .hamburger .bar {
    padding: 0;
    width: 35px;
    height: 2px;
    background-color:var(--color_fff);
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}
header .header-container .hamburger-menu .hamburger .bar {
    padding: 0;
    width: 35px;
    height: 2px;
    background-color:var(--color_fff);
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}
header .header-container .hamburger-menu .hamburger .bar {
    padding: 0;
    width: 35px;
    height: 2px;
    background-color: var(--color_fff);
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}


/*mobile header end*/

header .header-container {
    background-color:var(--color_012f56);
    color: var(--color_fcbf1e);
    border-radius: 50px;
    padding: 20px 5px;
    position: relative;
    /*margin-top: 29px;*/
    /*box-shadow: 0 35px 30px -30px rgb(0, 12, 36);*/
}
header .header-container.sticky-header{
    box-shadow: 0 .125rem .25rem rgb(1, 66, 126) !important
}


header .header-container .parent-nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}


header .header-container .parent-nav li {
    font-size: 14px;
    letter-spacing: 0;
    padding: 0 15px;
    border-left: 1px solid var(--color_fcbf1e);
    position: relative;
}
header .header-container .parent-nav li a {
    color:  var(--color_fcbf1e);
    transition: 0.1s ease-in-out;
    font-weight: bold;
}
.float-lg-start {
    float: left !important;
}
header .header-container .parent-nav li .child-nav .have-child svg{
    color:  var(--color_035aa6);!important;
}

header .header-container .parent-nav li .child-nav::after {
    border-color: rgba(136, 183, 213, 0) !important;
    border-width: 7px!important;
    margin-left: -7px;
}


header .header-container .parent-nav li .child-nav::after,
header .header-container .parent-nav li .child-nav::before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
header .header-container .parent-nav li .child-nav::after {
    border-bottom-color:var(--color_fff); !important;
}
header .header-container .parent-nav li .child-nav::before {
    border-color: rgba(194, 225, 245, 0);
    border-width: 11px;
    margin-left: -11px;
}
header .header-container .parent-nav li .child-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 45%;
    right: -40px;
    margin: 0;
    padding: 0;
    min-width: 150px;
    transform: translateY(32px);
    border: 2px solid  var(--color_035aa6);;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    transition-property: visibility, transform, -webkit-transform;

}

header .header-container .parent-nav li:hover > .child-nav {
    visibility: visible;
    transform: translateY(22px);
}
header .header-container .parent-nav li .child-nav li a {
    color:  var(--color_035aa6);
    padding: 5px 0;
}
header .header-container .parent-nav li .child-nav li {
    border-left: none;
    width: 100%;
}
header .header-container .parent-nav li .child-nav li:not(:last-child) {
    border-bottom: 1px dotted var(--color_035aa6);
}
header .child-nav, header .header-container .parent-nav li .child-nav .have-child ul {
    background: var(--color_fff); !important;
    border-radius: 10px !important;
    border-bottom: 2px solid var(--color_035aa6); !important;
}
header .header-container .parent-nav li .child-nav li a {
    border-bottom: none !important;
    display: inline-block;
    min-width: 150px;
}
header .header-container .parent-nav li .child-nav li {
    padding: 10px 15px !important;
}
header .header-container .parent-nav li .child-nav li {
    border-left: none;
    width: 100%;
}
.have-child ul.ul-child-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    right: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    min-width: 150px;
    -webkit-transform: translateY(32px);
    transform: translateY(32px);
    border: 2px solid var(--color_035aa6);
    /*border-bottom-color: rgb(0, 162, 149);*/
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    transition-property: all;
    transition-property: visibility, transform, -webkit-transform;

}
header .header-container .parent-nav li.have-child:hover > .ul-child-2{
    visibility: visible;
}
header .header-container .infocall {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    align-items: center;
}
header .header-container .infocall a {
    font-size: 14px;
    letter-spacing: 2px;
}
header .header-container .langs {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    flex-flow: row-reverse;
    align-items: center;
}
header .header-container .langs a.active, header .header-container .langs a:hover {
    color: #f3f2f2;
    font-weight: bold;
}
header .header-container .parent-nav li.have-child svg {
    cursor: pointer;
}
header .header-container .langs a {
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid var(--color_dddddd76);
}
header .header-container .langs a {
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid var(--color_dddddd76);
}
header .header-container .langs a {
    font-weight: 100;
}
header .header-container .logo {
    position: absolute;
    /*left: 10px;*/
}

/**/

.menu .hamburger-menu {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menuIcon{
    width: 33px;
    height: 33px;
    background:  url("../img/menu1.png");
    background-size: 33px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
    z-index: 1;
}
.menuIcon.active{
    background: url("../img/close.png");
    background-size: cover;
    background-position: center;
}



/**/

/*header end*/

/*main*/

.logo-banner  {
    background-image: url('../img/bg7.jpg');
    position: relative;
    background-size: cover;
    height: 650px;
    max-height: 1080px;
    border-radius: 0 0 50px 50px;
    z-index: 1;
    background-position: 19px 17%;
}
.have-child1.is-active-drop .child-nav1{
    display: flex!important;
}
.have-child1 .div-icon {
    width: 18px;
    height: 100%;
}
.have-child1{
    position: relative;
}
.have-child1 .div-icon::after {
    content: "\f078";
    font-family: "Font Awesome 5 Pro Regular";
    font-size: 12px;
    margin: 0;
    position: absolute;
    width: auto;
    height: auto;
    color: var(--color_fcbf1e);
    left: 25%;
    top: 12px;
    font-weight: 900;
    transition: transform .3s;
    transform: translate3d(0,0,0) rotate(0);
}

.have-child1.is-active-drop  .div-icon::after{
    transform: translate3d(0,0,0) rotate(180deg);
}
.logo-logo-banner {
    margin-top: 100px;
}



.owl-carousel.OwlSliderIndex img{
    background-size: cover!important;
    background-position: center;
}

.logo-banner .logo-banner-content .text-title h3 {
    color:var(--color_035aa6);
    font-weight: bold;
    margin-top: 224px;
}
.logo-banner::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, white 90%);
    pointer-events: none;
    z-index: -20;
    border-radius: 0 0 50px 50px;
}

.logo-banner::before {
    background-image: url("../img/arrow_down.webp");
    top: calc(100% - 12px);

}

.logo-banner::before {
    content: "";
    background-image: url("../img/arrow_down_gray.webp");
    background-position: center bottom;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    top: calc(100% - 7px);
    height: 70px;
    width: 100%;
    background-repeat: no-repeat;

}
.logo-banner::before {
    background-image: url("../img/arrow_down.webp");
    top: calc(100% - 12px);
}

.logo-banner .go-down {
    position: absolute;
    top: 101.5%;
    left: 50%;
    -webkit-transform: translateX(-60%);
    transform: translateX(-60%);
    z-index: 11;
    font-size: 22pt;
    /*color: #00a295; */
    color:var(--color_035aa6);
}



/*section 2*/


.slider::after {
    content: "";
    position: absolute;
    inset: 0;
    /*background-color: rgba(0, 162, 149, 0.9);*/
    background-color: rgba(3, 90, 166, 0.9);

    pointer-events: none !important;
    z-index: -13;
    border-radius: 0 0 35px 35px;

}
.slider {
    /* background-image: url('../img/DJI_0159.webp'); */
    background-position: center center;
    background-size: cover;
    margin-top: -50px;
    padding-top: 123px;
    position: relative;
    z-index: 0;
    border-radius: 0 0 35px 35px;
}

.slider {
    height: auto !important;
    padding-bottom: 200px;
}
.slider .title h1 {
    color: var(--color_fff);
    font-weight: bold;
    font-size: 22pt;
    text-align: center;
}

/*slider index1*/
.owl-carousel.OwlSliderIndex .owl-item img {
    padding: 0 5%;
    border-radius: 30px;
    height: 450px;
    margin-bottom: 10px;
    transition: all .3s ease-in-out;
}
.owl-carousel.OwlSliderIndex img {
    background-size: cover !important;
    background-position: center;
}
.owl-carousel.OwlSliderIndex .owl-nav {
    position: absolute;
    top: 35%;
    z-index: 1000;
    width: 100%;
}
.owl-carousel.OwlSliderIndex .owl-nav button.owl-next {
    position: absolute;
    left: 0;
}
.owl-carousel.OwlSliderIndex  .owl-nav button.owl-next,
.owl-carousel.OwlSliderIndex .owl-nav button.owl-prev
    /*.owl-carousel.OwlSliderNews  button.owl-dot {*/{
    background: 0 0;
    border: none;
    padding: 0 !important;
    color: #4e4c4c;
    font-size: 80px;
}
.owl-dots{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.owl-carousel.OwlSliderIndex  button.owl-dot {
    width: 9px;
    height: 9px;
    background-color: #ccc;
    border-radius: 5px;
    opacity: 1;
    margin: 0 10px;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.owl-carousel.OwlSliderIndex  button.owl-dot.active{
    background-color: rgba(255, 255, 255, 0.9);
    width: 50px;
    height: 10px;
    border-radius: 19px;
    margin: 0 10px;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}



/*slider index1 end*/


/*slider index2*/
.news-slider {
    margin-top: -133px !important;
}

.news-slider ul li.nav-item{
    z-index: 1;
}

.OwlSliderIndex  .owl-next{
    position: absolute;
    left: 20px;
}


.owl-carousel.OwlSliderIndex2 .owl-item img {
    display: block;
    width:100%;
    margin: 0 auto;
    border-radius: 30px;
    height: 350px;
    margin-bottom: 10px;
    box-shadow: 0 35px 30px -30px rgba(0, 0, 0, 0.25);
}
.owl-carousel.OwlSliderIndex2 .owl-nav {
    position: absolute;
    top: 118px;
    right: 30px;
}
.owl-carousel.OwlSliderIndex2  .owl-nav button.owl-next,
.owl-carousel.OwlSliderIndex2 .owl-nav button.owl-prev
    /*.owl-carousel.OwlSliderNews  button.owl-dot {*/{
    background: 0 0;
    border: none;
    padding: 0 !important;
    font: inherit;
    color: var(--color_fff);
    font-size: 80px;
    margin: 0 15px;

}

/*section 2 end*/

/*section3*/
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link.nav-custom {
    color: var(--color_fff);
    background-color: transparent;
}
.nav-link.nav-custom {
    color: var(--color_fff);
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link.nav-custom {
    color: var(--color_fff);
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
}
/*.gallery-section{*/
/*    background-image: url('assets/frontend/img/Slider1.webp');*/
/*}*/


.news-slider .swiper-slide-active .items::after,
.gallery-section .swiper-slide-active .items::after{
    content: "";
    background: rgba(3, 90, 166, 0.5);
    position: absolute;
    inset: 0;
    border-radius: 23px;
}

.items::after {
    content: "";
    background: rgba(3, 90, 166, 0.5);
    position: absolute;
    inset: 0;
    border-radius: 23px;
}
.items .item-text {
    direction: rtl !important;
    position: absolute;
    z-index: 11;
    right: 5px;
    left: 5px;
    top: 65%;
    transform: translateY(-50%);
}


.news-slider .swiper-slide::after,
.gallery-section .swiper-slide::after{
    content: "";
    background: var(--color_dddddd);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(221, 221, 221, 0)), color-stop(24%, rgba(255, 255, 255, 0.5)), color-stop(58%, white));
    background: linear-gradient(180deg, rgba(221, 221, 221, 0) 0%, rgba(255, 255, 255, 0.5) 24%, white 58%);
    position: absolute;
    inset: 0;
    border-radius: 23px;
    transition: all 0.3s ease-in-out;
}

.news-slider .swiper-slide .items .footer-text,
.gallery-section .swiper-slide .items .footer-text{
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 0;
    z-index: 11;
    justify-content: space-around;
    align-items: center;

}
.news-slider .swiper-slide .items .footer-text a svg,
.gallery-section .swiper-slide .items .footer-text a svg{
    position: absolute;
    left: calc(100% + 9px);
    top: 63%;
    transform: translateY(-50%);
}
.news-slider .swiper-slide img,
.gallery-section .swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: grayscale(1);
}
.news-slider .swiper-slide,
.gallery-section .swiper-slide{
    text-align: center;
    font-size: 18px;
}
.news-slider .swiper-slide,
.gallery-section .swiper-slide{
    text-align: center;
    font-size: 18px;
    background: var(--color_fff);
    display: flex;;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 25px;
    position: relative;
    margin-bottom: 50px;
}
.news-slider .swiper-slide .items .item-text h5,
.gallery-section .swiper-slide .items .item-text h5{
    font-size: 9pt;
    padding: 0 5px;
}
.news-slider .swiper-slide .items .item-text p,
.gallery-section .swiper-slide .items .item-text p{
    font-size: 6pt;
    padding: 0 5px;
}

.news-slider .swiper-slide::before,
.gallery-section .swiper-slide::before{
    content: "";
    position: absolute;
    top: calc(100% - 22px);
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/arrow_down.webp");
    background-size: 250px;
    background-position: center center;
    height:70px;
    width: 100%;
    background-repeat: no-repeat;
    filter: drop-shadow(0 5px 10px #ccc);
    transition: all 0.3s ease-in-out;
}
.news-slider .swiper-slide .items .footer-text a,
.gallery-section .swiper-slide .items .footer-text a{
    color:var(--color_035aa6);
    font-size: 8pt;
    position: relative;
    font-weight: 300;
}



.owl-carousel.OwlSlider1 .owl-item,
.owl-carousel.OwlSlider2 .owl-item{
    /*box-shadow: 0px 9px 32px 0px rgba(0,0,0,0.07);*/
    transform: scale(.8);
    transition: all 0.3s ease-in;
}

.owl-carousel.OwlSlider1  .owl-item.center,
.owl-carousel.OwlSlider2  .owl-item.center{
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    z-index: 10;
    border-radius: 25px;
}
.owl-carousel.OwlSlider1  .owl-item.center .swiper-slide::after{
    background: var(--color_012f56); !important;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(1, 47, 86)), color-stop(24%, rgb(1, 47, 86)), color-stop(58%, #012f56)) !important;
    background: linear-gradient(180deg, rgba(1, 47, 86, 0.360364) 0%, rgba(1, 47, 86,0.5) 24%, #012f56 58%) !important;
    transition: all 0.3s ease-in-out;
}
.owl-carousel.OwlSlider2  .owl-item.center .swiper-slide::after{
    background:var(--color_012f56);!important;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(1, 47, 86)), color-stop(24%, rgb(1, 47, 86)), color-stop(58%, #012f56)) !important;
    background: linear-gradient(180deg, rgba(1, 47, 86, 0.360364) 0%, rgba(1, 47, 86,0.5) 24%, #012f56 58%) !important;
    transition: all 0.3s ease-in-out;
}
.owl-carousel.OwlSlider2  .owl-item.center  .swiper-slide .items .footer-text a,
.owl-carousel.OwlSlider2  .owl-item.center  .swiper-slide .items .item-text h5,
.owl-carousel.OwlSlider2  .owl-item.center  .swiper-slide .items .item-text h5,
.owl-carousel.OwlSlider2  .owl-item.center  .swiper-slide svg{
    color: var(--color_fff);
}

.owl-carousel.OwlSlider1  .owl-item.center  .swiper-slide .items .footer-text a,
.owl-carousel.OwlSlider1  .owl-item.center  .swiper-slide .items .item-text h5,
.owl-carousel.OwlSlider1  .owl-item.center  .swiper-slide .items .item-text h5,
.owl-carousel.OwlSlider1  .owl-item.center  .swiper-slide svg{
    color: var(--color_fff);
}


.owl-carousel.OwlSlider1  .owl-item.center .swiper-slide .items .footer-text a svg,
.owl-carousel.OwlSlider1  .owl-item.center  .swiper-slide .items .item-text p{
    color: var(--color_eee);
}
.owl-carousel.OwlSlider2  .owl-item.center .swiper-slide .items .footer-text a svg,
.owl-carousel.OwlSlider2  .owl-item.center  .swiper-slide .items .item-text p{
    color: var(--color_eee);
}
.owl-carousel.OwlSlider1  .owl-item.center  .swiper-slide::before{
    background-image: url("../img/4.png") !important;
    transition: all 0.3s ease-in-out!important;
}
.owl-carousel.OwlSlider2  .owl-item.center  .swiper-slide::before{
    background-image: url("../img/4.png") !important;
    transition: all 0.3s ease-in-out!important;
}

.news-slider .swiper-slide .items .item-text hr,
.gallery-section .swiper-slide .items .item-text hr{
    color: var(--color_666);
}

.news-slider .swiper-slide svg,
.gallery-section .swiper-slide svg{
    position: absolute;
    /*color: #00a295;*/
    color: var(--color_035aa6);
    left: 50%;
    transform: translateX(-60%);
}

.news-slider .swiper-slide .items .item-text h5,
.gallery-section .swiper-slide .items .item-text h5{
    font-size: 12pt;
    font-weight: bold;
    padding: 0 15px;
    color: var(--color_035aa6);
}

.news-slider .swiper-slide .items .item-text p,
.gallery-section .swiper-slide .items .item-text p{
    font-size: 8pt;
    text-align: justify;
    padding: 0 15px;
    color: var(--color_aaa);
}

.news-slider .swiper-slide::after,
.gallery-section .swiper-slide::after{
    content: "";
    background:  var(--color_dddddd);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(221, 221, 221, 0)), color-stop(24%, rgba(255, 255, 255, 0.5)), color-stop(58%, white));
    background: linear-gradient(180deg, rgba(221, 221, 221, 0) 0%, rgba(255, 255, 255, 0.5) 24%, white 58%);
    position: absolute;
    inset: 0;
    border-radius: 23px;
    transition: all 0.4s ease-in-out;
}
.owl-carousel.OwlSlider1 .owl-nav {
    position: absolute;
    top: -139px;
    left: 0;
}
.owl-carousel.OwlSlider1  .owl-nav button.owl-next,
.owl-carousel.OwlSlider1  .owl-nav button.owl-prev,
.owl-carousel.OwlSlider1  button.owl-dot {
    background: 0 0;
    border: none;
    padding: 0 !important;
    font: inherit;
    color: var(--color_fff);
    font-size: 80px;
    margin: 0 15px;
}


/*section3 end*/



/*con*/

.counterUp .exhibition-title h5 {
    color: var(--color_035aa6);
    font-weight: bold;
}
.counterup-items {
    background-color: #035aa6;
    background-image: url("../img/34.png");
    background-size: cover;
    background-position: center center;
    margin-top: -50px;
    padding-top: 50px;
    padding-bottom: 50px;
}


.counter-box{
    text-align: center;
    color: var(--color_fff);
}


.counter-box svg{
    font-size: 50px;
    color:  var(--color_fcbf1e);
}
.counter-box .counter{
    font-size: 30px;
    padding: 10px 0;
}
.counter-box p{
    font-size: 25px;

}
.counter-box p {
    margin-bottom: 0;
}



/*con end*/






/*section4*/

.Exhibitions-conferences .exhibition-title {
    padding-right: 35px;
}
.Exhibitions-conferences .exhibition-title h5 {
    color:var(--color_035aa6);
    font-weight: bold;
}
.Exhibitions-conferences .exhibition-title a::after {
    content: "";
    background-image: url(../img/arrow_down.webp);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(100% + 7px);
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    filter: drop-shadow(0 1.8px 0px var(--color_035aa6));
}
.Exhibitions-conferences .exhibition-title a {
    color:var(--color_035aa6);
    padding: 5px 15px;
    border: 1px solid var(--color_035aa6);
    position: relative;
    font-size: 10pt;
}
.Exhibitions-conferences .exhibition-title a:hover,
.Exhibitions-conferences .exhibition-title a:focus,
.Exhibitions-conferences .exhibition-title a:active {
    color: var(--color_fff);
    background-color: var(--color_035aa6);
}
.Exhibitions-conferences .exhibition-title a:hover::after,
.Exhibitions-conferences .exhibition-title a:focus::after,
.Exhibitions-conferences .exhibition-title a:active::after {
    background-image: url("../img/3.png");
}
.Exhibitions-conferences .banner img {
    border-radius: 10px;
    aspect-ratio: 4/6;
    object-fit: 100%;
    margin-left: 5px;
    transition: all 0.3s ease-in-out;
}
.Exhibitions-conferences .banner::after {
    content: "";
    position: absolute;
    right: 50%;
    bottom: 15px;
    height: 20px;
    width: 59px;
    /*background-image: url("../img/right_radius.svg");*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 10;
}
.Exhibitions-conferences .banner .description::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    /*right: 45%;*/
    height: 20px;
    background-color: var(--color_fff);
    z-index: 10;
}
.Exhibitions-conferences .banner .description::before {
    content: "";
    position: absolute;
    background-image: url("../img/banner-arrow.webp");
    background-repeat: no-repeat;
    background-position: right center;
    left: calc(100% - 18px);
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    height: 100px;
    width: 40px;
    background-size: 100%;
}

.Exhibitions-conferences .banner .description {
    border-radius: 10px 10px 10px 0;
    height: 220px;
    width: 100%;
    background-color: #f5f8f8;
    position: relative;
    z-index: 0;
    -webkit-transition: background-color, -webkit-box-shadow 0.3s ease-in-out;
    transition: background-color, -webkit-box-shadow 0.3s ease-in-out;
    transition: background-color, box-shadow 0.3s ease-in-out;
    transition: background-color, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.Exhibitions-conferences .banner .description .body-text {
    padding: 25px 17px;
}
.Exhibitions-conferences .banner .description .body-text h1 {
    color: var(--color_035aa6);
    font-size: 16pt;
    padding-bottom: 5px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 250px;
}
.Exhibitions-conferences .banner .description .body-text p {
    color: #998;
    font-size: 11pt;
    line-height: 0.3;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}
.Exhibitions-conferences .banner .description .body-text p {
    color: var(--color_333); !important;
}
.Exhibitions-conferences .banner .description .body-text p {
    color: #998;
    font-size: 11pt;
    line-height: 0.3;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}
.Exhibitions-conferences .banner .description .body-text p {
    color: var(--color_333); !important;
}
.Exhibitions-conferences .banner .description .body-text p {
    font-size: 11pt;
    line-height: 0.3;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    margin-right: 20px;
}
.Exhibitions-conferences .banner .description .body-text p {
    color: var(--color_333);!important;
}
.Exhibitions-conferences .banner .description .date::after {
    content: "";
    background-image: url("../img/3.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(100% + 7px);
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%);
}
.Exhibitions-conferences .banner {
    width: 100%;
    height: 250px;
    padding: 15px;
    border-radius: 10px;
    position: relative;
}
.Exhibitions-conferences .banner .description .date::before {
    content: "";
    background-image: url("../img/3.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: calc(100% + 7px);
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(100%) rotate(180deg);
    transform: translateX(-50%) translateY(100%) rotate(180deg);
}

.Exhibitions-conferences .banner .description .date {
    position: absolute;
    left: 0;
    top: calc(50% - 10px);
    transform: translateY(-50%) rotate(270deg);
    background-color: var(--color_035aa6);
    padding: 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.Exhibitions-conferences .banner .description .date span:first-child {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 8px;
}
.Exhibitions-conferences .banner .description .date span {
    font-size: 8pt;
    font-weight: bold;
    color: var(--color_fff);
    padding: 0;
    padding-left: 0px;
    margin: 0;
}
.Exhibitions-conferences .banner .description .date span:last-child {
    margin-top: -3px;
}
.Exhibitions-conferences .banner .description .date span {
    font-size: 8pt;
    font-weight: bold;
    color: var(--color_fff);
    padding: 0;
    margin: 0;
    margin-top: 0px;
}

.Exhibitions-conferences .banner:hover > .description {
    background-color: var(--color_fff);
    border: 2px solid var(--color_035aa6);
    border-right: none;
    box-shadow: -15px 5px 15px #ddd;
    border-radius: 10px;
}
.Exhibitions-conferences .banner:hover > .banner::after{
    bottom: 32px;
}
.Exhibitions-conferences .banner:hover > .description::after {
    display: none;
}
.Exhibitions-conferences .banner:hover > img {
    box-shadow: 5px 5px 15px #aaa;
}


/*section4 end*/








/*section 5*/

.aboutus-section::before {
    content: "";
    background-image: url("../img/arrow_down.webp");
    background-position: center bottom;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: calc(100% - 12px);
    height: 70px;
    width: 100%;
    background-repeat: no-repeat;
}
.aboutus-section .title h1 {
    color: var(--color_035aa6);
    font-size: 16pt;
    font-weight: bold;
}

.aboutus-section {
    border-radius: 0 0 50px 50px;
    padding-bottom: 100px;
    position: relative;
    background-color: var(--color_fff);
    z-index: 1;
    margin-top: 50px;
}
.aboutus-section .title h2 {
    font-size: 12pt;
    font-weight: 300;
    color:var(--color_035aa6);
    text-align: center;
}
.aboutus-section .section-right{
    margin-top: 30px;
}

.aboutus-section .title span::after {
    content: "";
    background-image: url("../img/3.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(100% + 7px);
    left: 27%;
    transform: translateX(-50%) translateY(-100%);
}

.aboutus-section .title span {
    color: var(--color_fff);
    background-color: var(--color_035aa6);
    padding: 5px 25px;
    text-align: center;
    border: 1px solid var(--color_035aa6);
    position: relative;
    font-size: 10pt;
    margin: 10px 34px;
}
.aboutus-section .body-about p {
    font-size: 10pt;
    color: #998;
    text-align: justify;
}
.aboutus-section .body-about .footer-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.aboutus-section .body-about .footer-about .social-icon a {
    color: var(--color_bbb);
    padding-left: 10px;
    transition: all 0.3s ease-in-out;
}
.aboutus-section .body-about .footer-about .social-icon a {
    color: var(--color_bbb);
    padding-left: 10px;
    transition: all 0.3s ease-in-out;
}
.aboutus-section .body-about .footer-about > a {
    color: var(--color_fff);
    background-color: var(--color_035aa6);
    padding: 5px 10px;
    font-size: 8pt;
    transition: all 0.3s ease-in-out;
    border: 2px solid var(--color_035aa6);
}

/*section 5 end*/


/*section 6*/

.gallery-section::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(3, 90, 166, 0.9);
    pointer-events: none !important;
    z-index: -1;
}

.gallery-section {
    background-position: center center;
    background-size: cover;
    margin-top: -50px;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    z-index: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-section .title-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    gap: 5px;
}
.gallery-section .title-gallery span, .gallery-section .title-gallery h1 {
    font-size: 18pt;
    font-weight: 300;
    color:var(--color_eee);
    letter-spacing: 0.5px;
}
.gallery-section .title-gallery span {
    padding: 0 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.gallery-section .title-gallery span:first-child {
    position: relative;
}
.gallery-section .title-gallery span:first-child::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 2px;
    height: 50%;
    background-color: #ddd;
}
.gallery-section .title-gallery span:first-child::after {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 2px;
    height: 50%;
    background-color: #ddd;
}
.gallery-section .title-gallery span.active {
    color: var(--color_fff);
    font-weight: bold;
}
.gallery-section .title-gallery span {
    padding: 0 25px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.gallery-section .title-gallery span, .gallery-section .title-gallery h1 {
    font-size: 18pt;
    font-weight: 300;
    color: var(--color_eee);
    letter-spacing: 0.5px;
}
.gallery-section .title-gallery .title {
    position: relative;
}
.gallery-section .title-gallery span, .gallery-section .title-gallery h1 {
    font-size: 18pt;
    font-weight: 300;
    color:var(--color_eee);
    letter-spacing: 0.5px;
}
.owl-carousel.OwlSlider2 .owl-nav {
    position: absolute;
    top: -126px;
    width: 48%;
    right: 26%;
}

.owl-carousel.OwlSlider2  .owl-nav button.owl-next,
.owl-carousel.OwlSlider2  .owl-nav button.owl-prev,
.owl-carousel.OwlSlider2  button.owl-dot {
    background: 0 0;
    border: none;
    padding: 0 !important;
    font: inherit;
    color: var(--color_fff);
    font-size: 80px;
    margin: 0 15px;
}
.owl-carousel.OwlSlider2  .owl-nav button.owl-next{
    position: absolute;
    left: 0;
}
.owl-carousel.OwlSliderIndex .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: flex;
}

.gallery-section .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--color_fff);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 25px;
    position: relative;
    box-shadow: 0 0 15px  var(--color_aaa);
    transition: all 0.3s ease-in-out;
}
.gallery-section .swiper-slide::after {
    content: "";
    background: var(--color_dddddd);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(221, 221, 221, 0)), color-stop(24%, rgba(255, 255, 255, 0.5)), color-stop(58%, white));
    background: linear-gradient(180deg, rgba(221, 221, 221, 0) 0%, rgba(255, 255, 255, 0.5) 24%, white 58%);
    position: absolute;
    inset: 0;
    border-radius: 23px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.gallery-section .swiper-slide::before {
    content: "";
    position: absolute;
    top: calc(100% - 22px);
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/arrow_down.webp");
    background-size: 250px;
    background-position: center center;
    height: 70px;
    width: 100%;
    background-repeat: no-repeat;
    filter: drop-shadow(0 5px 10px #ccc);
    transition: all 0.3s ease-in-out;
}
.gallery-section .swiper-slide {
    text-align: center;
    font-size: 18px;
}
.gallery-section .swiper-slide::after {
    content: "";
    background: var(--color_dddddd);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(221, 221, 221, 0)), color-stop(24%, rgba(255, 255, 255, 0.5)), color-stop(58%, white));
    background: linear-gradient(180deg, rgba(221, 221, 221, 0) 0%, rgba(255, 255, 255, 0.5) 24%, white 58%);
    position: absolute;
    inset: 0;
    border-radius: 23px;
    transition: all 0.3s ease-in-out;
}
/*section 6 end*/
/*section7*/

body .virtual-tour-Exhibitions::before {
    bottom: calc(100% - 2px);

}
.virtual-tour-Exhibitions::before {
    content: "";
    background-image: url("../img/arrow_down.webp");
    background-position: center top;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(180deg);
    transform: translateX(-50%) rotate(180deg);
    position: absolute;
    bottom: 100%;
    z-index: 10;
    height: 70px;
    width: 100%;
    background-repeat: no-repeat;

}

.virtual-tour-Exhibitions {
    background-color: var(--color_fff);
    border-radius: 50px 50px 0 0;
    padding-top: 100px;
    padding-bottom: 50px;
    position: relative;
    margin-top: -50px;

}

.virtual-tour-Exhibitions .title {
    text-align: center;
    padding-bottom: 20px;
}
.virtual-tour-Exhibitions .title h1 {
    color: var(--color_035aa6);
    font-weight: bold;
}
.virtual-tour-Exhibitions .title h1:last-child {
    font-weight: 300;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}
.swiper-slide.slider-tak{
    width: 1116px;
}

.virtual-tour-Exhibitions  .swiper-slide::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(3,90,166, 0.7);
    border-radius: 25px;
}
.virtual-tour-Exhibitions  .swiper-slide::after,
.virtual-tour-Exhibitions  .swiper-slide::after {
    content: "";
    background: rgba(3, 90, 166, 0.5) !important;
    position: absolute;
    inset: 0 0 22px 0;
    border-radius: 25px;
}
.virtual-tour-Exhibitions  .swiper-slide::before {
    content: "";
    position: absolute;
    top: calc(100% - 16px);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: url("../img/arrow_down_primarycolor.webp");
    background-size: 250px;
    background-position: center center;
    height: 70px;
    width: 100%;
    background-repeat: no-repeat;
    filter: invert(43%) sepia(60%) saturate(239%) hue-rotate(126deg) brightness(80%) contrast(100%);
    transition: all 0.3s ease-in-out;
    z-index: 998;
}
.virtual-tour-Exhibitions  .swiper-slide::before {
    display: none;
}

.virtual-tour-Exhibitions  .swiper-slide {
    border-radius: 25px;
    box-shadow: none;
    position: relative;
}
.virtual-tour-Exhibitions .swiper-slide img {
    filter: grayscale(1) sepia(1) blur(3px) brightness(120%) hue-rotate(130deg);
    border-radius: 25px;
}
.virtual-tour-Exhibitions  .swiper-slide .body-text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 998;
    text-align: center;
}
.virtual-tour-Exhibitions .swiper-slide .body-text h1 {
    display: flex;
    flex-direction: column;
    color: var(--color_fff);
    font-weight: 300;
}
.virtual-tour-Exhibitions  .swiper-slide .body-text h1 strong {
    font-weight: bold;
}
.virtual-tour-Exhibitions  .swiper-slide .body-text h3 {
    font-size: 15pt;
    font-weight: 300;
    color: var(--color_fff);
    margin-bottom: 15px;
}
.virtual-tour-Exhibitions  .swiper-slide .body-text a {
    color: #000;
    background-color: var(--color_fff);
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 10pt;
}
.virtual-tour-Exhibitions .swiper-slide span {
    position: absolute;
    left: 50%;
    bottom: 31px;
    transform: translateX(-50%);
    font-size: 8pt;
    color: var(--color_fff);
    z-index: 998;
}


/*section7 end*/




/*main end*/


/*footer*/
footer::before {
    content: "";
    background-image: url("../img/footer_arrow.webp");
    background-position: center top;
    left: 50%;
    transform: translateX(-49.8%);
    position: absolute;
    bottom: calc(100% - 12px);
    z-index: 10;
    height: 70px;
    width: 100%;
    background-repeat: no-repeat;
}

footer {
    background:var(--color_dddddd);
    background: -webkit-gradient(linear, left bottom, left top, from(#dddddd), to(#f2f2f2));
    background: linear-gradient(0deg, var(--color_dddddd) 0%, #f2f2f2 100%);
    margin-top: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 100px 0;
    padding-bottom: 100px;
    padding-bottom: 0;
    position: relative;
    border-radius: 50px 50px 0 0;

}
footer .go-top {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-75%);
    z-index: 11;
    font-size: 22pt;
    color: var(--color_035aa6);
}
.icon-act {
    animation: iconPulce 1.5s infinite;
}
footer .title h5 {
    color: var(--color_035aa6);
    font-weight: bold;
    font-size: 13pt;
}
footer .text p {
    color: var(--color_666);
    font-size: 10pt;
    text-align: justify;
    margin: 0;
    margin-bottom: 0px;
    margin-bottom: 5px;
}
footer .social-icon {
    background-color: #d1d1d1;
    border-radius: 100px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}
footer .social-icon span {
    color:var(--color_bbb);
    padding-left: 5px;
    font-weight: bold;
    font-size: 8pt;
}
footer .social-icon a {
    color: var(--color_bbb);
    padding-left: 10px;
    transition: all 0.3s ease-in-out;
    font-size: 10pt;
    vertical-align: bottom;
}
footer .footer__list ul li a:hover {
    color: var(--color_035aa6);
}
footer .social-icon a:last-child {
    padding-left: 0;
}
.text-md-center {
    text-align: center !important;
}
footer .footer__list ul {
    width: 100%;
}
footer .footer__list ul li::before {
    content: "•";
    color: var(--color_888);
    padding-left: 8px;
}
footer .footer__list ul li {
    padding-bottom: 5px;
}
footer li {
    color:var(--color_666);
    font-size: 9pt;
    text-align: right;
    width: 100%;
}
footer .footer__list ul li a {
    color: var(--color_888);
    transition: 0.3s initial;
}
footer .text p {
    color: var(--color_666);
    font-size: 10pt;
    text-align: justify;
    margin: 0;
    margin-bottom: 0px;
    margin-bottom: 5px;
}
footer .text p {
    color: var(--color_666);
    font-size: 10pt;
    text-align: justify;
}
.text-secondary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-secondary-rgb),var(--bs-text-opacity)) !important;
}

/*footer end*/

/*style index*/

 #container {
     height: 500px;
 }
.highcharts-title{
    font-family: "B Yekan";
}
.highcharts-credits{
    display: none;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 2000px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
.highcharts-data-label{
    font-family: "B Yekan" !important;
}


/*style index end*/
