
    .product-variants {
        margin: 0px 0 10px;
        color: #6f6f6f;
        font-size: 13px;
        line-height: 1.692;
    }
    ul.js-product-variants {
        margin: 20px 7px;
        display: inline-block;
        vertical-align: middle;
    }
    ul.js-product-variants li {
        margin: 0 8px 0 0;
        display: inline-block;
    }

    .product-variant>span {
        font-size: inherit;
        color: inherit;
        padding-left: 15px;
        margin-top: 3px;
        float: right;
    }

    .product-variants {
        margin-right: -8px;
        list-style: none;
        padding: 0;
        display: inline-block;
        margin-bottom: 0;
    }

    .ui-variant {
        display: inline-block;
        position: relative;
    }

    .product-variants li {
        margin: 0 8px 8px 0;
        display: inline-block;
    }

    .ui-variant {
        display: inline-block;
        position: relative;
    }



    .ui-variant input[type=radio] {
        visibility: hidden;
        position: absolute;
    }

    .ui-variant--check {
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 10px;
        color: #6f6f6f;
        padding: 3px 10px;
        font-size: 13px;
        font-size: .929rem;
        line-height: 1.692;
        display: block;
        -webkit-box-shadow: 0 2px 6px 0 rgba(51, 73, 94, 0.1);
        box-shadow: 0 2px 6px 0 rgba(51, 73, 94, 0.1);
    }

    .ui-variant--color .ui-variant--check {
        padding-right: 37px;
    }

    input[type=radio]:checked+.ui-variant--check {
        border-color: #2c90f6;
        background-color: #2c91f8;
        color: white;
    }

    .ui-variant {
        display: inline-block;
        position: relative;
    }

    .product-variants li {
        margin: 0 8px 8px 0;
        display: inline-block;
    }

    .ui-variant {
        display: inline-block;
        position: relative;
    }

    .ui-variant--color .ui-variant-shape {
        width: 18px;
        height: 18px;
        position: absolute;
        right: 8px;
        top: 8px;
        border-radius: 50%;
        content: "";
        cursor: pointer;
    }

    /*style in*/

    .select-employee-edit{
        height: 44px;
    }
