
.item-span{
    font-size: 1rem;
}

@media screen and (max-width: 500px) {
    .c-h4{
        font-size: 0.8rem !important;
    }
    .c-m-400{
        padding-right: 0.1rem !important;
        padding-left: 0.1rem !important;
    }
    .c-m-400-l2{
        padding-right: 0.1rem !important;
        padding-left: 0.4rem !important;
    }
    .c-p-400{
        font-size: 0.8rem !important;
        line-height: 1rem !important;
    }
    .c-row-1{
        justify-content: center !important;
    }
    .bg-400{
        background-image: url('../images/invitation/bg-400.svg') !important;
        background-repeat: repeat !important;
    }
    .c-m-400-c{
        padding: 0.5rem !important;
    }
}


/*style*/


.div-card-invitation{
   background-repeat: repeat;
    background-image: url('../images/invitation/bg.svg');
}

.div-card-invitation-bg{
  background-color: rgba(255, 255, 255, 0.95);
}
.span-invitation-date{
    font-size: 0.9rem;
}
.h4-invitation-style{
    font-size: 1.4rem;
}
.p-invitation-style{
    font-size: 1.1rem;
    line-height: 2rem;
}
.a-invitation-style{
    font-size: 1.1rem;
    opacity: 100%;
}
.img-invitation-style{
    border: 1px solid darkcyan;
    border-radius: 15px;
}
