


.img-master-in-style{
    width: 160px;
}

.svg-master-in-style{
    fill:#7b8191;
    width:24px;
    height:24px;
}

.limited-size {
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
}
