/* body{
    margin-top:20px;
    background-color: #f7f7ff;
    }
    .radius-10 {
        border-radius: 10px !important;
    }

    .border-info {
        border-left: 5px solid  #0dcaf0 !important;
    }
    .border-danger {
        border-left: 5px solid  #fd3550 !important;
    }
    .border-success {
        border-left: 5px solid  #15ca20 !important;
    }
    .border-warning {
        border-left: 5px solid  #ffc107 !important;
    }



    .bg-gradient-scooter {
        background: #17ead9;
        background: -webkit-linear-gradient(
    45deg
     , #17ead9, #6078ea)!important;
        background: linear-gradient(
    45deg
     , #17ead9, #6078ea)!important;
    }
    .widgets-icons-2 {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ededed;
        font-size: 27px;
        border-radius: 10px;
    }
    .rounded-circle {
        border-radius: 50%!important;
    }
    .text-white {
        color: #fff!important;
    }
    .ms-auto {
        margin-left: auto!important;
    }
    .bg-gradient-bloody {
        background: #f54ea2;
        background: -webkit-linear-gradient(
    45deg
     , #f54ea2, #ff7676)!important;
        background: linear-gradient(
    45deg
     , #f54ea2, #ff7676)!important;
    }

    .bg-gradient-ohhappiness {
        background: #00b09b;
        background: -webkit-linear-gradient(
    45deg
     , #00b09b, #96c93d)!important;
        background: linear-gradient(
    45deg
     , #00b09b, #96c93d)!important;
    }

    .bg-gradient-blooker {
        background: #ffdf40;
        background: -webkit-linear-gradient(
    45deg
     , #ffdf40, #ff8359)!important;
        background: linear-gradient(
    45deg
     , #ffdf40, #ff8359)!important;
    } */

    body{margin-top:20px;
        background:#eee;
        }
        .custom-card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-clip: border-box;
            border: 0px solid rgba(0, 0, 0, 0);
            border-radius: 1rem;
            margin-bottom: 1.5rem;
        }
        .img-md {
            width: 4rem;
            height: 4rem;
        }
        .btn-link {
            transition-property: color,background-color;
            box-shadow: none;
            border-radius: 0;
            text-decoration: none!important;
        }

 /*style inline*/

.li-co-index-style{
    white-space: nowrap;
}
