
.c-profile-cover__action {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    padding: 140px 30px 10px 185px;
    border-radius: 5px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    overflow: hidden;
    background: url('../images/student-bg.svg') no-repeat;
    background-size: cover;
}

.c-profile-cover__img {
    display: flex;
    border-radius: 11px;
    color: #fff;
    position: absolute;
    left: 50px;
    top: 183px;
    text-align: center;
    z-index: 1;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.553);
}

.cjustify {
    text-align: justify;
    line-height: 30px;
}

.c-ltr-text {
    unicode-bidi: bidi-override;
    direction: ltr;
}

