
.c-profile-cover__action {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    padding: 252px 30px 10px 185px;
    border-radius: 5px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    overflow: hidden;
    background: url('../../images/company-bg.svg') no-repeat;
    background-size: cover;
}

.c-profile-cover__img {
    display: flex;
    border-radius: 11px;
    color: #fff;
    position: absolute;
    left: 50px;
    top: 183px;
    text-align: center;
    z-index: 1;
}
.img-single-company-style{
    background-color: rgb(200, 200, 200);
}
/*.bg-single-company-style{*/
/* background: url({{asset($company->header->path)}}) no-repeat !important;*/
/*}*/
